/* Smiley. */

.smiley_message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smiley_message .smiley_message_icon {
    padding: 5px 0px;
}

.smiley_message .smiley_message_text {
    display: flex;
    flex-direction: column;
}

.smiley_message .smiley_message_text .smiley_message_title {
    font-size: 18px;
    font-weight: 900;
}

.smiley_message .smiley_message_text * {
    text-align: center;
}

.smiley_message .smiley_message_text a {
    margin: 10px 0px;
}

.smiley_message img {
    height: 60px;
}

/* Cover */

.entity_page_wrapper .entity_page_cover {
    max-width: 100%;
    border: 1px ridge var(--elements-border-color);
    margin-bottom: 9px;
    overflow: hidden;
}

.entity_page_wrapper .entity_page_cover img, .entity_page_wrapper .entity_page_cover source {
    width: 100%;
    display: block;
    object-fit: contain;
}

/* User page */

.entity_page_wrapper {
    min-height: 93vh;
    max-width: 97vw;
}

.user_page_wrapper .user_page_grid {
    grid-template-columns: 0fr 1fr;
    gap: 6px;
    display: grid;
}

.user_page_wrapper .left_block, .club_page_wrapper .right_block {
    min-width: 210px;
}

.user_page_wrapper .friends_online_block {
    margin-top: -8px;
}

.user_page_wrapper .friends_online_block .onliner::before {
    display: none;
}

.entity_page_wrapper .right_block, .entity_page_wrapper .left_block {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user_info_with_name {
    display: flex;
    flex-direction: row;
}

.entity_page_wrapper .common_info .user_name, .entity_page_wrapper .common_info .entity_name {
    font-size: 20px;
}

.entity_page_wrapper .common_info {
    display: flex;
    justify-content: space-between;
}

.entity_page_wrapper .user_name_with_status {
    display: flex;
    flex-direction: column;
}

.entity_page_wrapper #status_block {
    margin-top: -3px;
}

.additional_info_block_hidden_default {
    display: none;
}

.additional_info_block_hidden_default.shown {
    display: block;
}

.additional_info_block .additional_info_block_cover {
    position: sticky;
    top: 0;
    z-index: 1;
}

.user_page_wrapper .relation_partner img {
    width: 14px;
    margin-bottom: -2px;
}

.user_page_wrapper .additional_info_block #insert_education b {
    border-bottom: 1px ridge var(--main-text-lighter-color);
    font-size: 16px;
    margin-left: -5px;
}

.bordered_block .hidden_line {
    padding: 0;
    margin: -9px 0px 7px 0px;
    height: 1px;
    background: var(--elements-border-color);
    border: none;
    outline: 5px solid var(--elements-background-color); /* выкрутился */
}

.additional_info_block .title {
    position: relative;
    z-index: 1;
    background: var(--elements-background-color);
    padding-right: 4px;
}

.bordered_block.info_block {
    padding: 6px;
}

.info_block {
    position: relative;
}

.show_hidden_info_block {
    cursor: pointer;
    text-align: center;
    padding: 5px 0px;
    margin-top: 3px;
    user-select: none;
}

.info_block.covered .cover_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: 40%;
    margin: -6px -6px;
    z-index: -1;
    filter: brightness(0.4) blur(1px);
}

.info_block.covered .title {
    background: unset;
}

.info_block.covered .hidden_line {
    display: none;
}

.info_block.covered {
    position: relative;
    z-index: 0;
}

/* Wall */

.wall_block .wall_select_block, .typical_tabs {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 0fr;
    position: sticky;
    top: 0;
    z-index: 2;
}

.wall_block .right_side {
    display: flex;
    margin-left: 10px;
}

.wall_block .right_side label {
    min-width: 137px;
}

/* Photostatus */

.entity_row_title {
    margin-bottom: 7px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.entity_row_title b {
    font-size: 14px;
}

.entity_photoblock #entity_photoblock_insert {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.entity_photoblock #entity_photoblock_insert > div {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    min-height: 70px;
    background-position: 50% 50%;
    background-size: cover;
}

.entity_row .entity_row_grid .entity_row_insert_item {
    width: 31%;
}

.entity_row .entity_row_grid .entity_row_insert_item a {
    display: flex;
    flex-direction: column;
}

.entity_row .entity_row_grid .entity_row_insert_item img {
    width: 51px;
}

.entity_contact > a {
    height: min-content;
    width: 41px;
}

.entity_row .entity_row_grid {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.entity_row .entity_row_grid .entity_row_insert_item div {
    text-align: center;
}

.entity_row .entity_row_grid .entity_row_insert_item span {
    margin-top: -4px;
    display: block;
    text-align: center;
    font-size: 80%;
}

.entity_row.bordered_block {
    padding: 4px 5px;
}

.entity_row .entity_row_insert_item .onliner::before {
    right: 3px;
}

.entity_row .entity_row_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.entity_row .entity_row_list .entity_row_insert_item {
    display: flex;
    gap: 5px;
}

.entity_row .entity_row_list .entity_row_insert_item img, .entity_row .entity_row_list .entity_row_insert_item object {
    width: 40px;
}

.entity_row .entity_row_list .entity_row_insert_item .entity_row_insert_item_info {
    /*display: flex;
    flex-direction: column;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entity_row .entity_gifts_list {
    flex-direction: row;
    overflow: hidden;
}

.cover_upper .entity_page_cover {
    margin-bottom: unset !important;
}


/* Club page */

.club_page_wrapper .club_page_grid {
    grid-template-columns: 1fr 0fr;
    gap: 6px;
    display: grid;
}

/* Topics */

.group_topic {
    padding-left: 5px;
}

.bookmarks_insert .post {
    border: unset;
    padding: 0px;
}
