:root {
    --ultrawhite: #333333;
    --black: #dbdbdb;
    --background-color: #f5f5f5;
    --elements-background-color: #ffffff;
    --elements-background-color-opacity: rgba(255, 255, 255, 0.8);
    --elements-border-color: #4a4a4a;
    --elements-contrast-color: #e0e0e0;
    --text-color: #333333;
    --links-color: #4a4a4a;
    --accent-color: #3F8AE0;
    --editing-color: rgb(255, 215, 0);
    --friendly-color: #4CAF50;
    --friendly-hover-color: #45a049;
    --error-color: #f44336;
    --icons-stroke: 1.2px;

    --main-bg: linear-gradient(138deg, var(--elements-contrast-color) 0%, rgb(255, 223, 186) 100%);
}
