:root {
    --background-color: #f2f0ec !important; 
    --header-color: #e3dfd5;
    --elements-color: #d6d0c3;
    --elements-color-opaque: rgba(214, 208, 195, 0.7);
    --elements-color-diff: #c9c3b4;
    --elements-color-diff2: #bcb5a8;
    --elements-color-lighter: #eee9e1;
    --elements-color-second: #d8d2c5;
    --text-color: #3d3935;
    --text-color-hover: #524740; 
    --links-color: #7f756d;
    --light-shadow-color: #c9c3b4;
}

.header {
    background: var(--accent-color);
}

.header .header_title {
    color: var(--header-color);
}

.header .header_icons > div svg {
    stroke: var(--elements-color);
}

.header .header_icons > div:hover, .header .header_account:hover {
    background: var(--accent-color);
    cursor: pointer;
}